<img src="http://reboundjs.com/images/rebound.svg" id="rebound-logo">

<section id="todoapp">
	<header id="header">
		<h1>todos</h1>
    <input id="new-todo" type="text" placeholder="What needs to be done?" value="{{newTitle}}" rebound-action="createTodo">
	</header>
  {{#if todos}}
		<section id="main">
			<ul id="todo-list">
				{{#each filteredTodos}}
					<li class="{{if isCompleted "completed"}} {{if editing "editing"}}">
						{{#if editing}}
              <edit-todo value={{title}} editing={{editing}} arr={{arr}}>asdf</edit-todo>
						{{else}}
							<input type="checkbox" class="toggle" checked="{{isCompleted}}">
							<label {{on "dblclick" "editTodo" }}>{{title}}</label>
							<button {{on "click" "removeTodo"}} class="destroy"></button>
							{{@index}}
						{{/if}}
						</li>
				{{/each}}
			</ul>
			<input type="checkbox" id="toggle-all" checked={{allAreDone}} {{on 'click' 'toggleAll'}}>
		</section>
		<footer id="footer">
			<span id="todo-count"><strong>{{remaining}}</strong> item left</span>
			<ul id="filters">
				<li>
					<a href="/all" class="selected" >All</a>
				</li>
				<li>
					<a href="/active" >Active</a>
				</li>
				<li>
          <a href="/completed">Completed</a>
					{{! #link-to "todos.completed" activeClass="selected" }Completed {! /link-to}}
				</li>
			</ul>
			{{#unless noneAreDone}}
				<button id="clear-completed" {{on "click" "clearCompleted"}}>
					Clear completed ({{completed}})
				</button>
			{{/unless}}
		</footer>
  {{/if}}
</section>
<footer id="info">
	<p>Double-click to edit a todo</p>
	<p>
		Created by
		<a href="http://github.com/epicmiller">Adam Miller</a>,
	</p>
	<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>